body div#list header {
  display: flex;
  position: relative;
  margin-bottom: 4rem;
}

body div#list header img {
  position: absolute;
}

body div#list header section::after {
  content: '';
  background-color: lightgray;
  height: 0.1rem;
  position: absolute;
  width: 100vw;
  bottom: -2rem;
}

body div#list header section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

body div#list header section h1#list-page-title {
  word-break: break-word;
  max-width: 60vw;
  margin-top: 0px;
  text-transform: uppercase;
  font-size: var(--font-size-02);
}

body div#list header section p {
  margin-bottom: 0px;
  margin-top: 1.5rem;
  font-size: var(--font-size-06);
}

body div#list section#task-filters {
  display: flex;
  align-items: center;
}

body div#list section#task-filters button {
  height: 3rem;
  background: var(--dark-blue);
  border: 2px solid var(--light-blue);
}

body div#list section#task-filters button:not(:first-of-type) {
  margin-left: 1rem;
}

body div#list section#task-filters button#search-btn {
  border-radius: var(--rounded-01);
}

body div#list section#task-filters button#active_task-filter {
  background: var(--light-blue);
  transition: all .2s;
}

ul#tasks-container li[data-completed='true'] {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.6;
}

ul#tasks-container li[data-task_hidden='true'] {
  display: none;
}
