body img {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
}

body img:active {
  transition: 0.2s;
  background-color: var(--light-blue);
  opacity: 0.9;
}

body img:focus {
  border: 1px solid var(--light-blue);
}

body form .input-group {
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--font-size-06);
}

body form .input-group:not(:first-of-type) {
  margin-top: 1rem;
}

body form .input-group:last-of-type + button {
  margin-top: 2.1rem;
}

input:focus + label {
  color: var(--light-blue);
}

body form .input-group input {
  margin-top: 0.8rem;
}
